<a href="https://colab.research.google.com/github/teleyun/bigdata/blob/main/2%EC%A3%BC%EC%B0%A8_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

제출 : 5. 25(수) 12시 까지

제출처 : desunny@naver.com

In [4]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 462, done.
remote: Counting objects: 100% (99/99), done.
remote: Compressing objects: 100% (56/56), done.
remote: Total 462 (delta 59), reused 43 (delta 43), pack-reused 363
Receiving objects: 100% (462/462), 8.40 MiB | 12.10 MiB/s, done.
Resolving deltas: 100% (244/244), done.

#1.Iris 데이터 세트

In [ ]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

##1) Iris 데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오

In [ ]:
data2 = data.groupby('species')[['petal_width']].quantile(0.25)
print("변수별 'petal_width' 상위 25% 값")
print(data2)
print('-' * 50)
print('값 차이 : {}'.format(data2['petal_width'].max()-data2['petal_width'].min()))

변수별 'petal_width' 상위 25% 값
            petal_width
species
setosa              0.2
versicolor          1.2
virginica           1.8
--------------------------------------------------
값 차이 : 1.6

##2) Iris 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오.

In [ ]:
sepal_length_list = list(set(data['sepal_length']))
sepal_length_df = pd.DataFrame(sepal_length_list, columns = ['sepal_length'])
print("10번째 값 :", list(sepal_length_df['sepal_length'].sort_values())[9])

10번째 값 : 5.2

##3) Iris 데이터 세트를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오(최종 계산 값의 소수점 이하는 버린다.)

In [ ]:
data_train = data.sort_values(by='sepal_width', ascending = False, ignore_index=True)[0:100]
result = int(data_train['sepal_width'].agg(['std']) * 50)
print('값 : ', result)

값 :  16

##4) Iris 데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오(최종 계산 값의 소수점 이하는 반올림한다.)

In [ ]:
data_10 = data.sort_values(by = 'petal_length', ascending = False).groupby('species').head(10)
result = int(round(data_10.groupby('species')[['petal_length']].mean().sum(),0))

print('변수값별 상위 10개 행의 평균값의 합 :{}'.format(result) )

변수값별 상위 10개 행의 평균값의 합 :13

##5) Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오(단, 이상치 범위는 (평균＋2×표준편차) 이상이거나 (평균－2×표준편차) 이하이다.)

In [ ]:
data_sepal_length = data[['sepal_length']]
outlier_upper = data_sepal_length.mean() + data_sepal_length.std() * 2
outlier_under = data_sepal_length.mean() - data_sepal_length.std() * 2
outlier = (data_sepal_length[['sepal_length']] >= outlier_upper) | (data_sepal_length[['sepal_length']] <= outlier_under)
print("이상치 개수 : {}개".format(int(outlier.sum())))

이상치 개수 : 6개

#2. Wine 데이터 세트

In [5]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/wine.csv")
# data['class'].value_counts()
# data.head(30)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0,0
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0,0
7,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295.0,0
8,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0,0
9,13.86,1.35,2.27,16.0,98.0,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045.0,0
10,14.10,2.16,2.30,18.0,105.0,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510.0,0
11,14.12,1.48,2.32,16.8,95.0,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280.0,0
12,13.75,1.73,2.41,16.0,89.0,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320.0,0
13,14.75,1.73,2.39,11.4,91.0,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150.0,0
14,14.38,1.87,2.38,12.0,102.0,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547.0,0
15,13.63,1.81,2.70,17.2,112.0,2.85,2.91,0.30,1.46,7.30,1.28,2.88,1310.0,0
16,14.30,1.92,2.72,20.0,120.0,2.80,3.14,0.33,1.97,6.20,1.07,2.65,1280.0,0
17,13.83,1.57,2.62,20.0,115.0,2.95,3.40,0.40,1.72,6.60,1.13,2.57,1130.0,0
18,14.19,1.59,2.48,16.5,108.0,3.30,3.93,0.32,1.86,8.70,1.23,2.82,1680.0,0
19,13.64,3.10,2.56,15.2,116.0,2.70,3.03,0.17,1.66,5.10,0.96,3.36,845.0,0
20,14.06,1.63,2.28,16.0,126.0,3.00,3.17,0.24,2.10,5.65,1.09,3.71,780.0,0
21,12.93,3.80,2.65,18.6,102.0,2.41,2.41,0.25,1.98,4.50,1.03,3.52,770.0,0
22,13.71,1.86,2.36,16.6,101.0,2.61,2.88,0.27,1.69,3.80,1.11,4.00,1035.0,0
23,12.85,1.60,2.52,17.8,95.0,2.48,2.37,0.26,1.46,3.93,1.09,3.63,1015.0,0
24,13.50,1.81,2.61,20.0,96.0,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845.0,0
25,13.05,2.05,3.22,25.0,124.0,2.63,2.68,0.47,1.92,3.58,1.13,3.20,830.0,0
26,13.39,1.77,2.62,16.1,93.0,2.85,2.94,0.34,1.45,4.80,0.92,3.22,1195.0,0
27,13.30,1.72,2.14,17.0,94.0,2.40,2.19,0.27,1.35,3.95,1.02,2.77,1285.0,0
28,13.87,1.90,2.80,19.4,107.0,2.95,2.97,0.37,1.76,4.50,1.25,3.40,915.0,0
29,14.02,1.68,2.21,16.0,96.0,2.65,2.33,0.26,1.98,4.70,1.04,3.59,1035.0,0

##1) Wine 데이터 세트에서 total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, alcalinity_of_ash 평균값을 계산하시오(최종 계산 값의 소수점 이하는 버린다.).

In [271]:
data1 = data[data['total_phenols'].notnull()]
data1 = data1.copy()
data1[data1['alcalinity_of_ash'].isnull()] = data1['alcalinity_of_ash'].median()
print("평균값 :{}".format(int(data1['alcalinity_of_ash'].mean())))

평균값 :19

##2) Wine 데이터 세트에서 alcohol 값이 alcohol 평균 값 이상이고, color_intensity 값이 color_intensity 평균 값 이상인 데이터만 남겼을 때, 가장 많은 class 값을 구하시오

In [ ]:
data1 = data[(data['alcohol'] >= data['alcohol'].mean()) & (data['color_intensity'] >= data['color_intensity'].mean())]
result = data1.groupby('class')['class'].count().max()
print("가장 많은 class 값 : {}".format(result))

가장 많은 class 값 : 37

##3) Wine 데이터 세트에서 class 1에 해당하는 데이터의 ash 평균값과 Wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값의 차이의 절댓값을 계산하시오(최종 계산 값의 소수점 아래 4번째 자리에서 반올림한다.)

In [ ]:
ash_mean = data[data['class'] == 1]['ash'].mean()
ash_dropna_mean = data.dropna()['ash'].mean()
print("절댓값 : %.3f" % round(abs(ash_mean - ash_dropna_mean),3))

절댓값 : 0.120

##4) Wine 데이터 세트에서 alcohol 변수의 상위에서 20번째 값(alcohol을 오름차순 정렬했을 때 20번째에 위치한 값) 으로 상위 20개의 값을 변환한 후, proanthocyanins가 2 이하인 데이터를 추출하여 alcohol의 평균값을 계산하시오(최종 계산 값의 소수점 아래 3번째 자리에서 반올림한다.).

In [55]:
data_alcohol = data.sort_values('alcohol', ignore_index = True)
data_alcohol.loc[0:20, 'alcohol'] = data_alcohol.loc[20, 'alcohol']
result = round(data_alcohol[data_alcohol['proanthocyanins'] <= 2]['alcohol'].mean(),2)
print("평균값 : {}".format(result))

평균값 : 12.97

##5) Wine 데이터 세트에서 class 1에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고, class 2에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하여 두 값의 차이의 절댓값을 계산하시오

In [83]:
data_class1_25 = data[data['class'] == 1]['proline'].quantile(0.25)
data_class1_75 = data[data['class'] == 1]['proline'].quantile(0.75)
data_class2_25 = data[data['class'] == 2]['proline'].quantile(0.25)
data_class2_75 = data[data['class'] == 2]['proline'].quantile(0.75)

result = abs(( data_class1_75 - data_class1_25) - (data_class2_75 - data_class2_25 ))
print("두 값 차이의 절대값 : {}".format(result))

두 값 차이의 절대값 : 68.5