<a href="https://colab.research.google.com/github/teleyun/bigdata/blob/main/2%EC%A3%BC%EC%B0%A8_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_%EA%B3%BC%EC%A0%9Cv2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

제출 : 5. 25(수) 12시 까지

제출처 : desunny@naver.com

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 462, done.
remote: Counting objects: 100% (99/99), done.
remote: Compressing objects: 100% (56/56), done.
remote: Total 462 (delta 59), reused 43 (delta 43), pack-reused 363
Receiving objects: 100% (462/462), 8.40 MiB | 4.92 MiB/s, done.
Resolving deltas: 100% (244/244), done.

#1.Iris 데이터 세트

In [67]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

##1) Iris 데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오

In [92]:
data2 = data.groupby('species')[['petal_width']].quantile(0.25)
print("변수별 'petal_width' 상위 25% 값")
print(data2)
print('-' * 25)
print('값 차이 : {}'.format(data2['petal_width'].max()-data2['petal_width'].min()))

변수별 'petal_width' 상위 25% 값
            petal_width
species
setosa              0.2
versicolor          1.2
virginica           1.8
-------------------------
값 차이 : 1.6

##2) Iris 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오.

In [135]:
sepal_length_list = list(set(data['sepal_length']))
sepal_length_df = pd.DataFrame(sepal_length_list, columns = ['sepal_length'])
print("10번째 값 :", list(sepal_length_df['sepal_length'].sort_values())[9])

10번째 값 : 5.2

In [136]:
data2 = data.sort_values(by='sepal_length', ascending = True)
print("10번째 값 : {}".format(data2['sepal_length'].drop_duplicates().tolist()[9]))

10번째 값 : 5.2

##3) Iris 데이터 세트를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오(최종 계산 값의 소수점 이하는 버린다.)

In [ ]:
data_train = data.sort_values(by='sepal_width', ascending = False, ignore_index=True)[0:100]
result = int(data_train['sepal_width'].agg(['std']) * 50)
print('값 : ', result)

값 :  16

##4) Iris 데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오(최종 계산 값의 소수점 이하는 반올림한다.)

In [ ]:
data_10 = data.sort_values(by = 'petal_length', ascending = False).groupby('species').head(10)
result = int(round(data_10.groupby('species')[['petal_length']].mean().sum(),0))

print('변수값별 상위 10개 행의 평균값의 합 :{}'.format(result) )

변수값별 상위 10개 행의 평균값의 합 :13

##5) Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오(단, 이상치 범위는 (평균＋2×표준편차) 이상이거나 (평균－2×표준편차) 이하이다.)

In [ ]:
data_sepal_length = data[['sepal_length']]
outlier_upper = data_sepal_length.mean() + data_sepal_length.std() * 2
outlier_under = data_sepal_length.mean() - data_sepal_length.std() * 2
outlier = (data_sepal_length[['sepal_length']] >= outlier_upper) | (data_sepal_length[['sepal_length']] <= outlier_under)
print("이상치 개수 : {}개".format(int(outlier.sum())))

이상치 개수 : 6개

#2. Wine 데이터 세트

In [137]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/wine.csv")
# data['class'].value_counts()
# data.head(30)

##1) Wine 데이터 세트에서 total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, alcalinity_of_ash 평균값을 계산하시오(최종 계산 값의 소수점 이하는 버린다.).

In [ ]:
data1 = data[data['total_phenols'].notnull()]
data1 = data1.copy()
data1[data1['alcalinity_of_ash'].isnull()] = data1['alcalinity_of_ash'].median()
print("평균값 :{}".format(int(data1['alcalinity_of_ash'].mean())))

평균값 :19

##2) Wine 데이터 세트에서 alcohol 값이 alcohol 평균 값 이상이고, color_intensity 값이 color_intensity 평균 값 이상인 데이터만 남겼을 때, 가장 많은 class 값을 구하시오

In [ ]:
data1 = data[(data['alcohol'] >= data['alcohol'].mean()) & (data['color_intensity'] >= data['color_intensity'].mean())]
result = data1.groupby('class')['class'].count().max()
print("가장 많은 class 값 : {}".format(result))

가장 많은 class 값 : 37

##3) Wine 데이터 세트에서 class 1에 해당하는 데이터의 ash 평균값과 Wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값의 차이의 절댓값을 계산하시오(최종 계산 값의 소수점 아래 4번째 자리에서 반올림한다.)

In [ ]:
ash_mean = data[data['class'] == 1]['ash'].mean()
ash_dropna_mean = data.dropna()['ash'].mean()
print("절댓값 : %.3f" % round(abs(ash_mean - ash_dropna_mean),3))

절댓값 : 0.120

##4) Wine 데이터 세트에서 alcohol 변수의 상위에서 20번째 값(alcohol을 오름차순 정렬했을 때 20번째에 위치한 값) 으로 상위 20개의 값을 변환한 후, proanthocyanins가 2 이하인 데이터를 추출하여 alcohol의 평균값을 계산하시오(최종 계산 값의 소수점 아래 3번째 자리에서 반올림한다.).

In [ ]:
data_alcohol = data.sort_values('alcohol', ignore_index = True)
data_alcohol.loc[0:20, 'alcohol'] = data_alcohol.loc[20, 'alcohol']
result = round(data_alcohol[data_alcohol['proanthocyanins'] <= 2]['alcohol'].mean(),2)
print("평균값 : {}".format(result))

평균값 : 12.97

##5) Wine 데이터 세트에서 class 1에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고, class 2에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하여 두 값의 차이의 절댓값을 계산하시오

In [ ]:
data_class1_25 = data[data['class'] == 1]['proline'].quantile(0.25)
data_class1_75 = data[data['class'] == 1]['proline'].quantile(0.75)
data_class2_25 = data[data['class'] == 2]['proline'].quantile(0.25)
data_class2_75 = data[data['class'] == 2]['proline'].quantile(0.75)

result = abs(( data_class1_75 - data_class1_25) - (data_class2_75 - data_class2_25 ))
print("두 값 차이의 절대값 : {}".format(result))

두 값 차이의 절대값 : 68.5