In [3]:
# !git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

import pandas as pd
data = pd.read_csv('housing_data.csv', header=None)
col_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV', 'isHighValue']
data.columns = col_names

data[data['MEDV'] > 36.9]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,isHighValue
97,0.12083,0.0,2.89,0,0.4450,8.069,76.0,3.4952,2,276.0,18.0,396.90,4.21,38.7,1
98,0.08187,0.0,2.89,0,0.4450,7.820,36.9,3.4952,2,276.0,18.0,393.53,3.57,43.8,1
157,1.22358,0.0,19.58,0,0.6050,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3,1
161,1.46336,0.0,19.58,0,0.6050,7.489,90.8,1.9709,5,403.0,14.7,374.43,1.73,50.0,1
162,1.83377,0.0,19.58,1,0.6050,7.802,98.2,2.0407,5,403.0,14.7,389.61,1.92,50.0,1
163,1.51902,0.0,19.58,1,0.6050,8.375,93.9,2.1620,5,403.0,14.7,388.45,3.32,50.0,1
166,2.01019,0.0,19.58,0,0.6050,7.929,96.2,2.0459,5,403.0,14.7,369.30,3.70,50.0,1
179,0.05780,0.0,2.46,0,0.4880,6.980,58.4,2.8290,3,193.0,17.8,396.90,5.04,37.2,1
180,0.06588,0.0,2.46,0,0.4880,7.765,83.3,2.7410,3,193.0,17.8,395.56,7.56,39.8,1
182,0.09103,0.0,2.46,0,0.4880,7.155,92.2,2.7006,3,193.0,17.8,394.12,4.82,37.9,1
186,0.05602,0.0,2.46,0,0.4880,7.831,53.6,3.1992,3,193.0,17.8,392.63,4.45,50.0,1
190,0.09068,45.0,3.44,0,0.4370,6.951,21.5,6.4798,5,398.0,15.2,377.68,5.10,37.0,1
195,0.01381,80.0,0.46,0,0.4220,7.875,32.0,5.6484,4,255.0,14.4,394.23,2.97,50.0,1
202,0.02177,82.5,2.03,0,0.4150,7.610,15.7,6.2700,2,348.0,14.7,395.38,3.11,42.3,1
203,0.03510,95.0,2.68,0,0.4161,7.853,33.2,5.1180,4,224.0,14.7,392.78,3.81,48.5,1
204,0.02009,95.0,2.68,0,0.4161,8.034,31.9,5.1180,4,224.0,14.7,390.55,2.88,50.0,1
224,0.31533,0.0,6.20,0,0.5040,8.266,78.3,2.8944,8,307.0,17.4,385.05,4.14,44.8,1
225,0.52693,0.0,6.20,0,0.5040,8.725,83.0,2.8944,8,307.0,17.4,382.00,4.63,50.0,1
226,0.38214,0.0,6.20,0,0.5040,8.040,86.5,3.2157,8,307.0,17.4,387.38,3.13,37.6,1
228,0.29819,0.0,6.20,0,0.5040,7.686,17.0,3.3751,8,307.0,17.4,377.51,3.92,46.7,1
232,0.57529,0.0,6.20,0,0.5070,8.337,73.3,3.8384,8,307.0,17.4,385.91,2.47,41.7,1
233,0.33147,0.0,6.20,0,0.5070,8.247,70.4,3.6519,8,307.0,17.4,378.95,3.95,48.3,1
253,0.36894,22.0,5.86,0,0.4310,8.259,8.4,8.9067,7,330.0,19.1,396.90,3.54,42.8,1
256,0.01538,90.0,3.75,0,0.3940,7.454,34.2,6.3361,3,244.0,15.9,386.34,3.11,44.0,1
257,0.61154,20.0,3.97,0,0.6470,8.704,86.9,1.8010,5,264.0,13.0,389.70,5.12,50.0,1
261,0.53412,20.0,3.97,0,0.6470,7.520,89.4,2.1398,5,264.0,13.0,388.37,7.26,43.1,1
262,0.52014,20.0,3.97,0,0.6470,8.398,91.5,2.2885,5,264.0,13.0,386.86,5.91,48.8,1
267,0.57834,20.0,3.97,0,0.5750,8.297,67.0,2.4216,5,264.0,13.0,384.54,7.44,50.0,1
268,0.54050,20.0,3.97,0,0.5750,7.470,52.6,2.8720,5,264.0,13.0,390.30,3.16,43.5,1
280,0.03578,20.0,3.33,0,0.4429,7.820,64.5,4.6947,5,216.0,14.9,387.31,3.76,45.4,1
282,0.06129,20.0,3.33,1,0.4429,7.645,49.7,5.2119,5,216.0,14.9,377.07,3.01,46.0,1
283,0.01501,90.0,1.21,1,0.4010,7.923,24.8,5.8850,1,198.0,13.6,395.52,3.16,50.0,1
291,0.07886,80.0,4.95,0,0.4110,7.148,27.7,5.1167,4,245.0,19.2,396.90,3.56,37.3,1
368,4.89822,0.0,18.10,0,0.6310,4.970,100.0,1.3325,24,666.0,20.2,375.52,3.26,50.0,1
369,5.66998,0.0,18.10,1,0.6310,6.683,96.8,1.3567,24,666.0,20.2,375.33,3.73,50.0,1
370,6.53876,0.0,18.10,1,0.6310,7.016,97.5,1.2024,24,666.0,20.2,392.05,2.96,50.0,1
371,9.23230,0.0,18.10,0,0.6310,6.216,100.0,1.1691,24,666.0,20.2,366.15,9.53,50.0,1
372,8.26725,0.0,18.10,1,0.6680,5.875,89.6,1.1296,24,666.0,20.2,347.88,8.88,50.0,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CRIM         506 non-null    float64
 1   ZN           526 non-null    float64
 2   INDUS        526 non-null    float64
 3   CHAS         526 non-null    int64
 4   NOX          526 non-null    float64
 5   RM           526 non-null    float64
 6   AGE          526 non-null    float64
 7   DIS          526 non-null    float64
 8   RAD          526 non-null    int64
 9   TAX          526 non-null    float64
 10  PTRATIO      526 non-null    float64
 11  B            526 non-null    float64
 12  LSTAT        526 non-null    float64
 13  MEDV         526 non-null    float64
 14  isHighValue  526 non-null    int64
dtypes: float64(12), int64(3)
memory usage: 61.8 KB

In [5]:
data1 = data.copy()
data1['CRIM'] = data1['CRIM'].fillna(data['CRIM'].median())

In [6]:
data2 = data.copy()
data2 = data.loc[data.CRIM.notnull(), ]
data2.describe()
data = data2

In [7]:
Q1, Q3 = data['MEDV'].quantile([0.25, 0.75])
IQR = Q3 - Q1
upper_bound = Q3 + IQR * 1.5
lower_bound = Q1 - IQR * 1.5

outlier_upper = data['MEDV'] > upper_bound
outlier_lower = data['MEDV'] < lower_bound
outlier = outlier_upper.sum() + outlier_lower.sum()


print('outlier 범위 : %.2f 초과 또는 %.2f 미만' % (upper_bound, lower_bound))
print('outlier 개수 : %.0f 개' % outlier)
print('outlier 비율 : %.2f' % (outlier / len(data['MEDV'])*100) + '%')

outlier 범위 : 36.96 초과 또는 5.06 미만
outlier 개수 : 40 개
outlier 비율 : 7.91%

In [8]:
data4 = data.copy()
data4['MEDV'] = data4['MEDV'][(data4['MEDV'] <= upper_bound) & (data4['MEDV'] >= lower_bound)]
# (data['MEDV'] > 36.9).sum()

# data.loc[161:165, :]

In [9]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,isHighValue
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2,1

In [10]:
df_r = data.drop(['isHighValue'], axis = 1)
df_isHighvalue = data['isHighValue']
df_r[['MEDV', 'LSTAT', 'RM', 'CHAS', 'RAD', 'TAX']].corr()

           MEDV     LSTAT        RM      CHAS       RAD       TAX
MEDV   1.000000 -0.737663  0.695360  0.175260 -0.381626 -0.468536
LSTAT -0.737663  1.000000 -0.613808 -0.053929  0.488676  0.543993
RM     0.695360 -0.613808  1.000000  0.091251 -0.209847 -0.292048
CHAS   0.175260 -0.053929  0.091251  1.000000 -0.007368 -0.035587
RAD   -0.381626  0.488676 -0.209847 -0.007368  1.000000  0.910228
TAX   -0.468536  0.543993 -0.292048 -0.035587  0.910228  1.000000

In [25]:
from sklearn.model_selection import train_test_split

X = df_r[['LSTAT', 'PTRATIO', 'TAX', 'AGE', 'NOX', 'INDUS', 'CRIM']]
y = df_r[['MEDV']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 123)

X_train

     LSTAT  PTRATIO    TAX    AGE    NOX  INDUS      CRIM
273   6.58     18.6  223.0   51.8  0.464   6.96   0.22188
52    5.28     16.8  243.0   21.1  0.439   5.64   0.05360
181   9.45     17.8  193.0   62.2  0.488   2.46   0.06888
452  17.27     20.2  666.0   91.8  0.713  18.10   5.09017
381  21.08     20.2  666.0   99.1  0.671  18.10  15.87440
..     ...      ...    ...    ...    ...    ...       ...
98    3.57     18.0  276.0   36.9  0.445   2.89   0.08187
476  18.68     20.2  666.0   93.6  0.614  18.10   4.87141
322   7.70     19.6  287.0   49.9  0.493   7.38   0.35114
382  23.60     20.2  666.0  100.0  0.700  18.10   9.18702
365   7.12     20.2  666.0   87.9  0.718  18.10   4.55587

[354 rows x 7 columns]

In [39]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train_minmax_scaled = scaler.transform(X_train)
X_test_minmax_scaled = scaler.transform(X_test)

In [42]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(X_train_minmax_scaled, y_train)
model_lr.coef_

array([[-30.91718599, -11.91492733,  -0.16534824,   5.58044455,
         -2.67113508,  -0.32721382,  -1.53630288]])

In [44]:
from sklearn.svm import SVR
model_svr = SVR()
model_svr.fit(X_train_minmax_scaled, y_train)

C:\Users\teley\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR()

In [50]:
from sklearn.ensemble import RandomForestRegressor
model_rf = RandomForestRegressor(random_state=123)
model_rf.fit(X_train_minmax_scaled, y_train)

C:\Users\teley\AppData\Local\Temp/ipykernel_12700/3856790498.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf.fit(X_train_minmax_scaled, y_train)

RandomForestRegressor(random_state=123)